.container-cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eceeef;
    border-bottom: 10px solid #a5bac5;    
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo-menor {
    width: 320px;  
}

/*RESPONSIVDADE DO CABEÇALHO*/
@media screen and (max-width: 1800px){
    .logo-menor {
        width: 300px;
        
    }
}
@media screen and (max-width: 400px){
    .logo-menor {
        width: 190px;
        
    }
}





