/*RESPONSIVDADE DO CABEÇALHO*/
@media screen and (max-width: 1800px){
    .menu-itens {
     
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .logo-menor {
        width: 200px;
        padding-left: 30px;
    }


}

@media screen and (max-width: 400px){
    .menu-itens {
     
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
    }

    .logo-menor {
        width: 190px;
        padding-left: 30px;
    }


}
