/*ESTILO CSS DO CONTEÚDO*/
.conteudo-principal {
    display: flex;
    justify-content: center;   
    color: blueviolet;
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 40px;
}

/*RESPONSIVIDADE DO FOOTER*/
@media screen and (max-width: 1080px) {
    .conteudo-principal {
       
        text-align: center;
    }
}